---
import "@/components/AppSection.vue";
import "@/components/AppButton.vue";
import "@/global/styles.css";
import "tippy.js/dist/tippy.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const url = "https://vincentrubinetti.com";
const share = "share.jpg";
---

<html lang="en">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-42575210-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push(["js", new Date()]);
      window.dataLayer.push(["config", "UA-42575210-1"]);
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <title>{title}</title>

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={share} />
    <meta property="og:type" content="website" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:image" content={share} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
