---
import "@/styles.css";
import "@fontsource-variable/aleo";
import "@fontsource-variable/outfit";

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="0ff809f6-188d-4d44-8e7d-681e16ecb620"></script>

    <script>
      /** make all external links open in a new tab */
      new MutationObserver(() => {
        const links = document.querySelectorAll<HTMLAnchorElement>(
          "a[href]:not([target])",
        );
        for (const link of links) {
          if (
            new URL(link.href, window.location.origin).origin !==
            window.location.origin
          )
            link.setAttribute("target", "_blank");
        }
      }).observe(document.body, { childList: true, subtree: true });
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/icon.svg" />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://vincentrubinetti.com" />
    <meta property="og:image" content="share.png" />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <slot />
  </body>
</html>
